body {
  margin: 0;
  height: 100%;
  background-color: rgb(255, 159, 80) !important;
}

#root {
  height: 100%;
}

#opening-text {
  font-family: "Chelsea Market", cursive;
  font-size: 1.7em;
  text-align: center;
}

.custom-font {
  font-family: "The Girl Next Door", cursive;
}

#custom-font {
  font-family: "The Girl Next Door", cursive;
}

.custom-font-2 {
  font-family: "Chelsea Market", cursive;
}

#custom-font-2 {
  font-family: "Chelsea Market", cursive;
}

#custom-font-2-centre {
  font-family: "Chelsea Market", cursive;
  text-align: center;
}

.custom-font-3 {
  font-family: "Fredericka the Great", cursive;
}

#custom-font-3 {
  font-family: "Fredericka the Great", cursive;
}

.font-weight {
  font-weight: normal;
}

.font-weight-bold {
  font-weight: bold;
}

#about-page-title {
  font-family: helvetica;
  font-size: 1.4em;
  padding-top: 20px;
}

#about-page-non-title {
  font-family: helvetica;
  font-size: 1.1em;
  text-align: left;
  padding-top: 10px;
  font-weight: normal;
}

.button-bg {
  background: rgb(30, 223, 56) !important;
}

.title {
  text-align: center;
  padding-top: 35px;
  padding-bottom: 25px;
}

.score-section {
  text-align: center;
  font-size: 30pt;
}

.question-padding {
  padding-bottom: 10px;
}

.story-card {
  padding-top: 25px;
  padding-bottom: 25px;
  width: 75%;
  margin: auto;
}

.footer {
  padding-top: 50px;
  text-align: center;
  bottom: 0;
  position: relative;
}

.story-question {
  padding-bottom: 25px;
  width: 65%;
  margin: auto;
}

.question-body {
  background: rgb(30, 194, 223) !important;
}

.border-warning {
  background: rgb(177, 222, 12) !important;
  /* border-warning */
}

.qcard {
  padding-top: 35px;
  padding-bottom: 25px;
  width: 33%;
  display: inline-block;
  color: rgb(222, 12, 12);
}

.quizQuestions {
  width: 75%;
  margin: auto;
}

.QcardButton {
  text-align: center;
}

.about_us_title {
  padding-top: 20px;
  text-align: center;
  font-size: x-large;
}

.homepagetxt {
  text-align: left;
  padding-top: 100px;
  font-size: 150%;
}

.image3 {
  padding-left: 310px;
  padding-bottom: 10px;
  padding-top: 30px;
}

.founders {
  padding-bottom: 100px;
}

.aboutusquote {
  padding-top: 50px;
}
