body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.title {
  text-align: center;
  padding-top: 25px;
}

.score-section {
  text-align: center;
  font-size: 30pt;
}

.story-card {
  padding-top: 25px;
  padding-bottom: 25px;
  width: 75%;
  margin: auto;
}
.footer {
  height: 32px;
  padding: 8px;
}
.story-question {
  padding-bottom: 25px;
  width: 65%;
  margin: auto;
}
.qcard1 {
  padding-bottom: 25px;
  width: 20%;
  margin: auto;
}
