body {
  margin: 0;
  font-family: 'The Girl Next Door', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: 'The Girl Next Door', cursive;
} */

#zorp {
  font-family: 'Chelsea Market', cursive;
  font-size: 1.7em;
  text-align: center;
}

.custom-font {
  font-family: 'The Girl Next Door', cursive;
}

#custom-font {
  font-family: 'The Girl Next Door', cursive;
}

.custom-font-2 {
  font-family: 'Chelsea Market', cursive;
}

#custom-font-2 {
  font-family: 'Chelsea Market', cursive;
}

.custom-font-3 {
  font-family: 'Fredericka the Great', cursive;
}

#custom-font-3 {
  font-family: 'Fredericka the Great', cursive;
}

.font-weight {
  font-weight: normal;
}

#about-page-title {
  font-family: helvetica;
  font-size: 1.2em;
  padding-top: 20px;
}

#about-page-non-title {
  font-family: helvetica;
  font-size: 0.95em;
  text-align: left;
  padding-top: 10px;
  font-weight: normal;
}

#root{
  background-color: rgb(255, 159, 80);
}

.title {
  text-align: center;
  padding-top: 35px;
  padding-bottom: 35px;
}

.score-section {
  text-align: center;
  font-size: 30pt;
}

.story-card {
  padding-top: 25px;
  padding-bottom: 25px;
  width: 75%;
  margin: auto;
}
.footer {
  height: 32px;
  padding: 8px;
  position: fixed;
}
.story-question {
  padding-bottom: 25px;
  width: 65%;
  margin: auto;
}
.qcard {
  padding-top: 35px;
  padding-bottom: 25px;
  width: 33%;
  display: inline-block;
  color: rgb(222, 12, 12);
}

.quizQuestions {
  width: 75%;
  margin: auto;
  background: rgb(222, 12, 12) !important;
}

.QcardButton {
  text-align: center;
}

/* .about_us_paragraph {
  text-align: left;
  padding-top: 20px;
} */

.about_us_title {
  padding-top: 20px;
  text-align: center;
}